<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href='css/styles.css' />
    <link
      href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;700&family=Roboto&display=swap"
      rel="stylesheet"
    />
    <title>Jarvis Assistant</title>
  </head>
  <body>
    <header class="header">
      <div class="container">
        <div class="header_inner">
          <a class="header_logo" href="/">Parser</a>
          <nav class="nav">
            <a class="nav_link" href="/">Main page</a>
          </nav>
        </div>
      </div>
    </header>
    <div class="intro">
      <div class="container">
        <div class="intro_inner">
          <h2 class="intro_suptitle">Parser</h2>
          <h1 class="intro_title">Watch results</h1>
        </div>
        <div class="links_for_results">
        <a class="btn"  role="button" href="/nhl_res/">NHL matches</a>
        <a class="btn" role="button" href="/itl_ftb/">Italian matches</a>
        <a class="btn" role="button" href="/some_ftb/">Some football matches</a>
        </div>
      </div>
    </div>
  </body>